@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .q-number
  {
          width: 75%;
      transform: translateX(101%);
     
      top: 0;
      height: 100vh;
      transition:.3s;
  }
  .q-number.open
  {
      transform: translateX(0%);
      transition:.3s;
  }
  .q-box, .q-ft, .q-indi
  {
      width:100%;
  }
  .test-header
  {
      width:75%;
  }
  .q-box {
      padding: 16px;
  }
  .q-ft, .q-indi
  {
       padding: 0 16px;
  }
  .numbertext {
      font-size: 15px;
      padding: 0;
      padding-bottom: 8px;
  }
  .q-box .mySlides h3 {
      margin: 12px 0;
      font-size: 16px;
      line-height: 22px;
  }
  .q-box .contain {
      font-size: 16px;
  }
  .ans-box {
    
      grid-template-columns: 1fr;
      gap: 0px;
      margin-top: 33px;
  }
  .q-ft .btn
  {
      font-size: 13px;
  }
  .q-indi {
      display: grid;
      background: #ededed;
      grid-template-columns: 1fr 1fr;
      gap: 2px;
   
  }
  .q-ft button, .q-ft a {
  
      padding: 5px 13px;
  }
  .prev, .next {
      margin-left: 11px;
      min-width: auto;
  }
  .exam-timer {
      font-size: 16px;
   
      margin-right: 0px;
  }
  .time-box
  {
   width:25%;   
  }
  .q-indi div span:first-child {
      width: 8px;
      height: 8px;
  }
  .q-indi div span:last-child {
      font-size: 9px;
  }

}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1400px) {
  .container {
    max-width: 1180px;
}
.main-header.style-one .outer-box {
  padding: 0px 25px 0px 105px;
}
header.main-header.style-one .logo-box {
  padding: 0px 32px 0px 0px;
}
.main-menu ul>li>a {
  margin-right: 32px;
font-size: 14px;
}
.main-header.style-one .menu-area {
  padding-left: 32px;
}
.company__man__info {
  gap: 18px;
}
.man___image
{
  width: 50px;
}
.man___image figure, .man__signature figure, .man___image img {
  width: 100%;
}
.man__pic__name .man__name h4
{
  font-size: 18px;
  margin-bottom: 0;
}
.anim-icon .icon {

  bottom: -58px;
  right: 4px;
}
.watch__vedio h4 {

  font-size: 17px;
}
.archx-service-item
{
  padding: 15px;
}
}
