@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .main-header .main-menu {
    position: fixed;
    right: -100%;
    width: 75%;
    background: var(--color6);
    height: 100vh;
    top: 0;
    z-index: 2;
    padding: 50px 0;
    transition: .3s;
  }

  .main-header .main-menu.menu-open {
    right: 0;
    transition: .3s;
  }
  .main-header.style-one .header___left {

    justify-content: space-between;
    width: 100%;
}
.watch__right {
  height: auto;
}
.anim-icon
{
  display: none;
}
.main-menu .widget ul
{
  padding: 0 20px;
}
.main-menu .widget ul li
{
  padding: 0;
}
.main-menu .widget ul li a i, .main-menu .widget ul li a
{
  color: white;
}
.main-header.style-one .menu-area {
  padding-left: 16px;
}
  .main-menu ul>li {
    float: inherit;
    padding: 20px;
  }
  .main-menu ul>li>a {
    margin-right: 0;
    text-align: left;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .core-com-grd {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .archx-service-item {
    padding: 20px;
  }

  .hotel-wrap {
    padding-bottom: 60px;
  }

  .hotel-wrap .swipper_img>h4>span {
    font-size: 60px;
    top: -32px;
  }

  .hotel-owl {
    margin-top: -30px;
  }

  .hotel-wrap .homes-list li {
    width: 100%;
    float: initial;
  }

  .regidter-grd,
  .footer-widgets,
  .company__man__box {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .east-2 #slider-2 img {
    height: 374px;
  }

  .course-wrap .inner {
    padding: 20px;
    align-items: baseline;
    gap: 15px;
    flex-direction: column;
  }

  .course-wrap .inner .testi-content {
    width: 100%;
  }

  .hotel-owl {
    position: relative !important;
    width: 100% !important;
  }

  .hotel-wrap .swipper_img {
    padding: 0;
  }

  .city-owl.owl-carousel .owl-nav,
  .east-2 #slider-1.owl-carousel .owl-nav {
    top: inherit;
    left: 50%;
    bottom: -70px;
    transform: translate(-50%, 0);
  }

  #slider-2 {
    margin-top: 105px;
  }

  .year {
    left: 16px;
    bottom: inherit;
    top: 16px;
  }

  .year h1 {

    font-size: 54px;
    line-height: 62px;
  }

  .year h5 {
    line-height: 34px;
  }

  .message-image-box {

    flex-direction: column;
  }

  .watch__vedio {
    transform: rotate(0deg);
    align-items: center;
    gap: 15px;
    height: auto;
    justify-content: center;
  }

  .watch__vedio h4 {
    font-size: 18px;
    letter-spacing: 10px;
  }


  .heading h2 {
    font-size: 4rem;
  }

  .heading span {
    font-size: 2.75rem;
    margin: -11px auto 0;
  }

  .heading.side-heading h2 {

    font-size: 2.75rem;
  }

  .heading.side-heading span {
    font-size: 1.75rem;
  }

  .banner.style__one .banner__social__media,
  .side-nav,
  .header__right {
    display: none;
  }

  .main-header.style-one .outer-box {
    padding: 15px;
  }

  .banner-carousel .sub__title h6 {
    padding-bottom: 0px;
    letter-spacing: 4px;
    font-size: 18px;
  }

  .banner-carousel .content__box h1 {

    font-size: 45px;
    line-height: 54px;
    margin-bottom: 16px;
  }

  .desing__list {
    gap: 0;
    padding-bottom: 25px;
    flex-direction: column;
  }

  .desing__list ul li {
    padding-bottom: 15px;
    gap: 15px;
  }

  .man___image {
    width: 50px;
  }

  .man___image figure,
  .man__signature figure,
  .man___image img {
    width: 100%;
  }

  .man__pic__name .man__name h4 {
    font-size: 18px;
    margin-bottom: 0;
  }

  .man__signature {
    width: 22%;
  }

  .man__signature img {
    width: 100%;
  }

  ;
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1400px) {
  .container {
    max-width: 1180px;
  }

  .main-header.style-one .outer-box {
    padding: 0px 25px 0px 105px;
  }

  header.main-header.style-one .logo-box {
    padding: 0px 32px 0px 0px;
  }

  .main-menu ul>li>a {
    margin-right: 32px;
    font-size: 14px;
  }

  .main-header.style-one .menu-area {
    padding-left: 32px;
  }

  .company__man__info {
    gap: 18px;
  }

  .man___image {
    width: 50px;
  }

  .man___image figure,
  .man__signature figure,
  .man___image img {
    width: 100%;
  }

  .man__pic__name .man__name h4 {
    font-size: 18px;
    margin-bottom: 0;
  }

  .anim-icon .icon {

    bottom: -58px;
    right: 4px;
  }

  .watch__vedio h4 {

    font-size: 17px;
  }

  .archx-service-item {
    padding: 15px;
  }
}